{% extends 'layouts/base.html' %}

{% block title %} Tables {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#">Staff</a></li>
                <li class="breadcrumb-item active" aria-current="page">Appraisals</li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a href="{% url 'create-jobappraisal' %}" class="btn btn-sm btn-neutral">Create New Job Appraisal</a>
            <a href="{% url 'create-genappraisal' %}" class="btn btn-sm btn-neutral">Create New General Appraisal</a>

            <!-- a href="#" class="btn btn-sm btn-neutral">Filters</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="container-fluid mt--6">

    <div class="row">
      <div class="col">
        <div class="card bg-default shadow">
          <div class="card-header bg-transparent border-0">
            <h3 class="text-white mb-0">General Appraisal</h3>
          </div>

          <div class="table-responsive">
            <table class="table align-items-center table-dark table-flush">
              <thead class="thead-dark">
                <tr>
                  <th scope="col" class="sort" data-sort="name">Staff</th>
                  <th scope="col" class="sort" data-sort="name">Punctuality to school</th>
                  <th scope="col" class="sort" data-sort="budget">Punctuality to class</th>
                  <th scope="col" class="sort" data-sort="status">Neatness/Appearance</th>
                  <th scope="col" class="sort" data-sort="status">Respect for constituted authority</th>
                  <th scope="col" class="sort" data-sort="status">Adherence to code of conduct</th>
                  <th scope="col" class="sort" data-sort="status">Initiative</th>
                  <th scope="col" class="sort" data-sort="status">Sense of responsibility</th>
                  <th scope="col" class="sort" data-sort="status">Courtesy to parents/supervisors</th>
                  <th scope="col" class="sort" data-sort="status">Acceptance to correction</th>
                  <th scope="col" class="sort" data-sort="status">Team playing capacity</th>
                  <th scope="col" class="sort" data-sort="status">Attendance/Participation in staff meeting</th>
                  <th scope="col" class="sort" data-sort="status">Adherence to school organogram</th>
                  <th scope="col" class="sort" data-sort="status">Involvement in school extra-curricular activities</th>
                  <th scope="col" class="sort" data-sort="name">Week</th>
                  <th scope="col" class="sort" data-sort="name">Term</th>
                  <th scope="col" class="sort" data-sort="name">Year</th>
                  <th scope="col" class="sort" data-sort="status">HOD Remarks</th>
            </tr>
              </thead>
              <tbody class="list">
                <!-- {% for gen in generalappraisals %}
 -->                <tr>
                   <th scope="row">
                    <div class="media align-items-center">
                      <!-- <a href="{% url 'project-detail' project.id %}" class="avatar rounded-circle mr-3">
                        <img alt="Image placeholder" src="/static/assets/img/theme/bootstrap.jpg">
                      </a> -->                      
                      <a href="{% url 'project-detail' project.id %}">
                        <div class="media-body">
                          <span style="color:mintcream;" class="name mb-0 text-sm"></span>
                        </div>
                      </a>
                    </div>
                  </th>

                 <!--  <td class="budget">
                    {{ gen.punctuality_to_school }}
                  </td>

                  <td>
                    {{ gen.punctuality_to_class }}
                  </td>
                  <td class="budget">
                    {{ gen.neatness_and_appearance }}
                  </td>
                  <td class="budget">
                    {{ gen.respect_for_constituted_authority }}
                  </td>
                  <td class="budget">
                    {{ gen.adherence_to_code_of_conduct }}
                  </td>
                  <td class="budget">
                    {{ gen.initiative }}
                  </td>
                  <td class="budget">
                    {{ gen.sense_of_responsibility }}
                  </td>
                  <td class="budget">
                    {{ gen.courtesy_to_parents_and_supervisors }}
                  </td>
                  <td class="budget">
                    {{ gen.acceptance_to_correction }}
                  </td>
                  <td class="budget">
                    {{ gen.team_bonding_capacity }}
                  </td>
                  <td class="budget">
                    {{ gen.attendance_and_participation_in_staff_meeting }}
                  </td>
                  <td class="budget">
                    {{ gen.adherence_to_school_organogram }}
                  </td>
                  <td class="budget">
                    {{ gen.involvement_in_extra_curricular_activities }}
                  </td>
                  <td class="budget">
                    {{ gen.hod_remarks }}
                  </td>
 -->
                 <!--  <td>
                    <span class="badge badge-dot mr-4">
                      {% if project.status == 'pending' %}
                        <i class="bg-warning"></i>
                        <span class="status">{{ project.status }}</span>
                      {% elif project.status == 'approved' %}
                        <i class="bg-success"></i>
                        <span class="status">{{ project.status }}</span>
                      {% elif project.status == 'unapproved' %}
                        <i class="bg-danger"></i>
                        <span class="status">{{ project.status }}</span>
                      {% endif %}
                    </span>
                  </td>
                  <td>
                    <div class="avatar-group">
                      <a href="#" class="avatar avatar-sm rounded-circle" data-toggle="tooltip" data-original-title="{{ project.author }}">
                        <img alt="Image placeholder" src="/static/assets/img/theme/team-1.jpg">
                      </a>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="completion mr-2">{{ project.completion }}%</span>
                      <div>
                        <div class="progress">
                          <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ project.completion  }}%;"></div>
                        </div>
                      </div>
                    </div>
                  </td> -->
                  
                </tr>
              <!--   {% endfor %}
 -->              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>



         

          <!-- Card footer -->
          <div class="card-footer py-4">
            <nav aria-label="...">
              <ul class="pagination justify-content-end mb-0">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">
                    <i class="fas fa-angle-left"></i>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">
                    <i class="fas fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>

        
    {% include "includes/footer.html" %}
  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
