project{% extends 'layouts/base.html' %}

{% block title %} Tables {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i>Staff</a></li>
                <li class="breadcrumb-item"><a href="{% url 'jobappraisal-detail' jobappraisal.id %}">Job Appraisal {{ jobappraisal.id }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">Delete</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            
            <form method="POST">
        			<!-- cross site request forfery token for security against attacks -->
        			{%  csrf_token %}
        			<fieldset class="form-group">
        				<legend class="border-bottom mb-4">Delete Job Appraisal</legend>
        				<h2>Are you sure you want to delete week {{ object.week }} ({{ object.term }}, {{ object.year}}) job appraisal for {{ object.staff_name }}?</h2>
        			</fieldset>
        			<div class="form-group">
        				<button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
        				<a class="btn btn-outline-info" href="{% url 'jobappraisal-detail' object.id %}">No, Cancel</a>
        			</div>
        		</form>

          </div>
        </div>
      </div>
    </div>
    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}